body {
    margin: 0;
    padding: 0;
}
.lp-container {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/lpimg2.jpg");

}
.content-wrapper {
    background: linear-gradient(300deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    width: 78%;
    height: 80%;
    padding: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 10px;
    border: 1px solid #454547;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    display: flex; 
    flex-direction: column;
    align-items: center;
    position: absolute;

}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    height: 10vh;
    text-align: center;
    gap: 600px;
} 
.lpimg{
    position: relative;
    top: -450px;
    width: 680px;
    right: -460px;
}
.logo-text {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #f9fcf7;
    margin-top: 2px;
}
.login-button {
    color: #2b5a0a;
    margin-top: -5px;
    padding: 10px;
    background:#f9fcf7;
    width: 120px;
    height: 32px;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    transition: all .50 ease;
    border: none;
}
.login-btn2{
    color: #2b5a0a;
    /* margin-top: -5px; */
    padding: 10px;
    background:#f9fcf7;
    width: 250px;
    height: 35px;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    transition: all .50 ease;
    border: none;
    margin-left: -250px;
}
.home-content {
    display: flex;
    justify-content: space-between;
    background: transparent;
    color: #f9fcf7;
} 
.page-text {
    width: 50%;
    padding-left: 3%; 
}
h3, p {
    color: #f9fcf7; 
    text-align: left;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-bottom: -8px;
}
p{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 17px;
    text-align: justify;
    margin-bottom: 25px;
}
.login-button:hover, .login-btn2:hover {
    background: #558534;
    color: white;
    font-weight: bolder;
}
