.plant-card {
    border: 2px solid #062303;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 330px;
    height: 150px;
    cursor: pointer;
    transition: transform 0.3s;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
  
.plant-card:hover {
    transform: scale(1.05);
}
  
.plant-card img {
    width: 150px;
    height: 147px;
    border-radius: 8px;
}

.plant-info .info-holder{
    padding-top: 70px;
}
  
.plant-info .info-holder h3 {
    font-size: 20px;
    margin: 0;
}
  
.plant-info .info-holder p {
    color: #555;
    margin: 5px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.plant-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    width: 85%;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

 .e-and-d .bx{
    color: #2b5a0a;
    background-color: transparent;
    border: 2px solid #2b5a0a;
}

.plant-info .e-and-d {
    top: 10px;
    right: 10px;
    display: flex;
    padding-left: 105px;
}
 
  .plant-card .e-and-d i {
    font-size: 15px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 50%;
    width: 25px;
    height: 22px;
    text-align: center;
    padding-top: 5px;
  }

  .e-and-d .bx:hover{
    background-color: #2b5a0a;
    color: white;
  }
   