.logout-button{
    display: flex;
    background-color: transparent;
    border: 2px solid #757575;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    width: 125px;
    align-items: center;
    padding: 0 15px;
    height: 40px;
    margin-top: 20px;
    margin-left: 1100px;
}

.add-plant-button{
    width: fit-content;
    border-radius: 5px;
    background-color: transparent;
    color: #2b5a0a;
    border: spx solid #2b5a0a;
    margin-left: 75px;
    cursor: pointer;
}

.bx.bxs-user-circle {
    font-size: 30px;
    margin-right: 8px;
}

.logout-button:hover{
    color: white;
    background-color: #2b5a0a;
}

.plant-dashboard{
    background: linear-gradient(to bottom, #f2f2f2, #b0b0b0);
    padding-bottom: 30px;
}

h2{
    padding-top: 10px;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: green;
    font-family: 'Gabriela', serif;
}

.plant-form{
    border: 1px solid rgb(29, 22, 22);
    width: fit-content;
    margin-left: 20% ;
    padding: 20px;
}

.plant-form h3 {
    font-size: 20px;
    margin-top: 0;
}

.form-group{
    padding: 5px;
}

.plant-form input{
    width: 200px;
}

.plant-form button{
    color: #f3f3ed;
    background-color: #2b5a0a;
    border-radius: 10px;
    margin-right: 20px;
    height: 25px;
}
