.plant-dashboard{
    background: linear-gradient(to bottom, #f2f2f2, #b0b0b0);
    padding-bottom: 30px;
}

h2{
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: green;
}